<%= form_with(model: rental_application, class: "contents") do |form| %>
  <% if rental_application.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(rental_application.errors.count, "error") %> prohibited this rental_application from being saved:</h2>

      <ul class="list-disc ml-6">
        <% rental_application.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :lead_id %>
    <%= form.text_field :lead_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": rental_application.errors[:lead_id].none?, "border-red-400 focus:outline-red-600": rental_application.errors[:lead_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :state, "State/Territory (Australia)" %>
    <%= form.select :state,
        RentalApplication.states.keys.map { |s| [s.upcase, s] },
        { prompt: "Select your state/territory" },
        class: "block w-full border rounded px-3 py-2",
        data: { action: "change->state-compliance#refresh" }
    %>
  </div>
  <div data-controller="state-compliance" data-state-compliance-target="container"></div>

  <div data-controller="state-compliance" data-state-compliance-target="container">
    <%= render "rental_applications/compliance/nt", f: form %>
  </div>

  <div class="my-5">
    <%= form.label :rental_history %>
    <%= form.text_area :rental_history, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": rental_application.errors[:rental_history].none?, "border-red-400 focus:outline-red-600": rental_application.errors[:rental_history].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :employment_status %>
    <%= form.text_field :employment_status, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": rental_application.errors[:employment_status].none?, "border-red-400 focus:outline-red-600": rental_application.errors[:employment_status].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :annual_income %>
    <%= form.number_field :annual_income, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": rental_application.errors[:annual_income].none?, "border-red-400 focus:outline-red-600": rental_application.errors[:annual_income].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :reference_name %>
    <%= form.text_field :reference_name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": rental_application.errors[:reference_name].none?, "border-red-400 focus:outline-red-600": rental_application.errors[:reference_name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :reference_contact %>
    <%= form.text_field :reference_contact, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": rental_application.errors[:reference_contact].none?, "border-red-400 focus:outline-red-600": rental_application.errors[:reference_contact].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :status %>
    <%= form.text_field :status, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": rental_application.errors[:status].none?, "border-red-400 focus:outline-red-600": rental_application.errors[:status].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
