<div id="<%= dom_id rental_application %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Lead:</strong>
    <%= rental_application.lead_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Rental history:</strong>
    <%= rental_application.rental_history %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Employment status:</strong>
    <%= rental_application.employment_status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Annual income:</strong>
    <%= rental_application.annual_income %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Reference name:</strong>
    <%= rental_application.reference_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Reference contact:</strong>
    <%= rental_application.reference_contact %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= rental_application.status %>
  </div>
</div>
