<!DOCTYPE html>
<html>
  <head>
    <title>Leaseflow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Tailwind’s compiled CSS via ESBuild -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <!-- ESBuild’s compiled JavaScript bundle (not importmap) -->
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= yield %>
    <%= render "shared/toast" %>
  </body>
  
</html>
