<!DOCTYPE html>
<html>
  <head>
    <title>Leaseflow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Tailwind’s compiled CSS via ESBuild -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- ESBuild’s compiled JavaScript bundle (not importmap) -->
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= yield %>
  </body>
</html>
